.user-task-content{
    display: flex;
    /* flex: 0; */
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 800px;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.vertical-flex{
    display: flex;
    flex-direction: column;
}

.task-name-container{
    background-color: white;
}

.task-descr-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self:stretch;
    
}
.task-description{
    border: 1px solid gray;
    border-radius: 5px;
    height: 180px;
    width: 600px;
    background-color: azure;
    padding: 10px;
    font-size: medium;
    overflow-y: scroll;
}

.task-dates-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:stretch;
}

.task-progress-container{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 250px;
}

.message-container{
    background-color: #7BFF7D;
    border: 1px solid #00BD03;
    padding: 5px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.file-list-container{
    background-color: azure;
    border: 1px solid gray; 
    height: 100%;
    padding-right: 10px;
    border-radius: 5px;
    margin: 0px;
    min-width: 110px;
    overflow-y: scroll ;
}

.file-container{

    color: #000dbd;
    padding: 5px;
    cursor: pointer;
}

.file-container:hover{
    background-color: #F5F5F5;
}

.text-container{
    font-size: large;
    font-weight: 600;
    padding-bottom: 3px;
}