.App-header {
    margin-top: 20px;
    background-color: #48525c;
    padding: 20px;
    color: white;
    border: solid 1px #202329;
    border-radius: 10px;
}

.h-color {
    color: #61dafb;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

li {
    padding-left: 20px;
    margin: 10px 0;
}

section {
    margin: 20px 0;
}

.home-line {
    border: 1px solid #61dafb;
    margin: 10px;
}