
.logo{
  font-size: 40px;
  padding: 10px;
  color: black;
}

/* .header{
  background-color: #4f9cff;
} */

/* .upMenu{
  background-color: #004ff7;
  padding: 5px;
} */

/* .menuColumns{
  float: left;
  background-color: #3f7bfa;
  padding: 10px;
  border: 2px;
  margin-right: 4px;
  border-color: black;
  border-style: solid;
} */

/* .columncontent{
  float: left;
  width: 80%;
  height: 100%;
} */

.button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  margin: 5px;
}

.button:hover{
  background-color: #7BBBFF;
  /* border: 1px solid #34495e; */
}

.semiproductrow {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.semiproducttuple {
  flex: 1;
  padding: 3px;
}

/* Stylowanie kontenera inputa */
.custom-input-container {
  /* display: inline-block; */
  position: relative;
  width: 90%;
  min-width: 100px;
  margin: 4px;
}

/* Stylowanie samego inputa */
.custom-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

/* Stylowanie inputa, gdy jest w stanie focus */
.custom-input:focus {
  border-color: #007bff; /* Możesz dostosować kolor podczas focusowania */
}

/*   ------------     TEST WYGLADU NR 1  --------------- */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  /* background-color: #333; */
  background-color: #3498db;
  color: white;
  padding: 6px;
  /* text-align: center; */
}

.menu {
  background-color: #2980b9;
  color: white;
  min-height: 35px;
  display: flex; /* Ustawienie na flexbox */
  justify-content: flex-end; /* Elementy będą rozmieszczone na końcu (prawej stronie) */
}

.menu-div {
  display: flex;
  align-items: center;
}

.menu-li {
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Dodanie płynnego efektu przejścia koloru */
}

.menu-li a {
  padding: 12px;
  text-decoration: none; /* Usunięcie podkreślenia dla Link */
  color: inherit; /* Dziedziczenie koloru tekstu od rodzica (.sidebarrow) */
  display: block; /* Ustawienie na blok, aby link zajął całą dostępną szerokość */
}

.menu-li:hover{
  background-color: #8FC6EA;
  color: #868686;
}

.main-content {
  display: flex;
  flex: 1;
  /* flex-direction: row; */
  /* justify-content: center; */

}

.menu-left {
  /* background-color: #999; */
  background-color: #3498db;
  color: white;
  padding: 1px;
  min-width: 220px;

  /* height: 100%; */
}

.footer {
  /* background-color: #333; */
  background-color: #34495e;
  color: white;
  padding: 6px;
  text-align: center;
  margin-top: auto;
}

.columnsidebar{
  width: 100%;
}

.sidebarrow{
  border: 2px solid gray;
  /* padding: 10px; */
  margin: 2px 0;
  cursor: pointer;
  transition: background-color 0.3s; /* Dodanie płynnego efektu przejścia koloru */
}

.sidebarrow a {
  text-decoration: none; /* Usunięcie podkreślenia dla Link */
  color: inherit; /* Dziedziczenie koloru tekstu od rodzica (.sidebarrow) */
  display: block; /* Ustawienie na blok, aby link zajął całą dostępną szerokość */
  padding: 10px;
}

.sidebarrow:hover{
  background-color: #73C7FF;
  color: #565555;
}

/* --------------------------------------------------------*/

.right-content{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form {
  border: 2px solid #ddd; /* Kolor obramowania */
  padding: 20px;
  border-radius: 10px; /* Zakrąglenie rogów */
  max-width: 400px; 
  width: 100%;
  /* box-sizing: border-box; */
  flex-direction: column;

}

.content{
  /* height: 700px; */
  /* height:  80vh; */
  height: 100%;
  width: 100%;
  margin: 10px;
  /* overflow-y: scroll; */
}


/* ------- DLA TABELI ------- */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tab-row-header {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tab-row-body {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}

.tab-row-body:hover {
  cursor: pointer;
  background-color: white;
  
  border: 1px solid #0004E7;
  border-bottom: 2px solid #0004E7;
  border-top: 2px solid #0004E7;
}

.tab-tuple-td {
  padding: 10px;
  text-align: left;
}

/* Style dla nagłówków tabeli */
.tab-row-header th {
  background-color: #00A4D4;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: default;
}

/* Zmień kolor tekstu dla nieparzystych wierszy (opcjonalnie) */
.tab-row-body:nth-child(odd) {
  background-color: #F0F0F0;
}

/*------------------------*/
.horizontal-orientation{
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrowanie w orientacji poziomej */
  justify-content: space-between;
}
/*------------------------*/
