body{
  background-color: white;
}

.logo{
  font-size: 40px;
  padding: 10px;
  color: black;
}

.header{
  background-color: #4f9cff;
}

.upMenu{
  background-color: #004ff7;
  padding: 5px;
}

.menuColumns{
  float: left;
  background-color: #3f7bfa;
  padding: 10px;
  border: 2px;
  margin-right: 4px;
  border-color: black;
  border-style: solid;
}

.columnsidebar{
  float: left;
  background-color: #47bfff;
  width: 20%;
  height: 100%;
}

.sidebarrow{
  border: 3px solid gray;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.columncontent{
  float: left;
  width: 80%;
  height: 100%;
}

.button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

.semiproductrow {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.semiproducttuple {
  flex: 1;
  padding: 3px;
}

/* Stylowanie samego inputa */
.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}